<h1>University's in Canada</h1>
<a href="/uoft">UOFT</a> 
<body>
    <% data5.forEach(row => { %>
        <% if (row.name == 'University of Toronto') { %> 
            <%= row.name %>,
            <%= row.city %>,
            <%= row.province %>,
            <%= row.country %>,
        <% } %>
    <% }) %>
</body>
<br>
<a href="/uwaterloo">University of Waterloo</a> 
    <% data5.forEach(row => { %>
        <% if (row.name == 'University of Waterloo') { %> 
            <%= row.name %>,
            <%= row.city %>,
            <%= row.province %>,
            <%= row.country %>,
        <% } %>
    <% }) %>
<br>
<a href="/western">Western University</a>
    <% data5.forEach(row => { %>
        <% if (row.name == 'Western University') { %> 
            <%= row.name %>,
            <%= row.city %>,
            <%= row.province %>,
            <%= row.country %>,
        <% } %>
    <% }) %>
<br>
<a href="/queens">Queens University</a> 
    <% data5.forEach(row => { %>
        <% if (row.name == 'Queens University') { %> 
            <%= row.name %>,
            <%= row.city %>,
            <%= row.province %>,
            <%= row.country %>,
        <% } %>
    <% }) %>